# SQL Server - for load_leads_to_sql.py
SQL_SERVER=localhost
SQL_SERVER_PORT=1433
SQL_DATABASE=LeadManagement
SQL_USER=sa
SQL_PASSWORD=Bh@utik00
# Or use a single connection string:
# SQL_SERVER_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost,1433;DATABASE=LeadManagement;UID=sa;PWD=xxx;TrustServerCertificate=yes;
