
#SQL SERVER
SQL_DATABASE=LeadManagement
SQL_USER=your-sql-username
SQL_PASSWORD=your-sql-password

#SNOWFLAKE
SNOWFLAKE_ACCOUNT=your-org-account
SNOWFLAKE_DATABASE=LEADMANAGEMENT
SNOWFLAKE_WAREHOUSE=LEAD_WH
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_USER=your-snowflake-username
SNOWFLAKE_PASSWORD=your-snowflake-password
